.btn-blue{
	background-color: #D45D04;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
.btn-blue:hover {
	background-color: #5688C7
}